#header {
	height: 15%;
	background-color: white;
}

#brand-box {
	height: 2em;
	background-color: black;
	width: 2em;
	position: relative;
	color: white;
	text-align: center;
	font-size: 2em;
	font-family: CircleD;
	font-weight: bolder;
	display: table-cell;
	vertical-align: middle;
	top: 25;
}

#links {
	float: right;
}

#links li {
	display: inline;
	margin-left: 2em;
}

#links a {
	text-decoration: none;
	color: black;
}

#footer {
	height: 25%;
	background-color: white;
}

.jumbotron {
	height: 70%;
	margin-bottom: 0;
	background: url('assets/sunset_usa_los_angeles_building_top_view_59142_1920x1080.jpg') fixed;
	background-size: cover;
	color: white;
}

.jumbotron h1 {
	color: white;
	padding-left: 25%;
	padding-top: 3%;
}

.jumbotron p {
	color: white;
	padding-left: 25%;
}

#about {
	height: 50vh;
	background: url('assets/LA2.jpg') fixed;
	background-size: cover;
	display: table-cell;
	vertical-align: middle;
}

#about h1 {
	text-align: center;
	color: white;
	margin: 0;
	font-family: CircleD;
}

#about p {
	text-align: center;
	color: white;

}

#second-page {
	height: 50vh;
	background: url('assets/programming (1).png') no-repeat;
	background-position: center;
}

#skills {
 padding-top: 40;
 margin: 0;
}

#second-page h1 {
	text-align: center;
	margin: 0;
	padding-top: 15;
	font-family: CircleD;
}

#skills li {
	list-style-type: none;
	text-align: center;
	font-weight: bolder;
	font-size: larger;
	font-family: monospace;
}

#third-page {
	height: 75vh;
}

#third-page h1 {
	text-align: center;
	font-family: CircleD;
}

.row {
	margin: auto;
}

#bottom {
	background-color: black;
	color: white;
	height: 25vh;
}

#bottom h1 {
	font-family: CircleD;
	text-align: center;
}

#bottom ul {
	text-align: center;
}

#bottom a {
	text-decoration: none;
	color: white;
}

#bottom li {
	list-style-type: none;
	display: inline;
}

