#header {
	background-color: white;
	padding: 25px 0;
}

#brand-box {
	height: 2em;
	background-color: black;
	width: 2em;
	color: white;
	text-align: center;
	font-size: 2em;
	font-family: 'Homenaje', sans-serif;
	font-weight: bolder;
	float: left;
}

@media only screen and (max-width: 770px) {
	#header {
		padding: 25px 20px
	}
	#links {
		display: inline-block;
		position: absolute;
		right: 20px;
		top:9px;
	}
	#links li {
		display: block !important;
	}
}

#links {
	float: right;
}

#links ul {
	margin-top: 1em;
}

#links li {
	display: inline;
	margin-left: 2em;
	vertical-align: -webkit-baseline-middle;
}

#links a {
	text-decoration: none;
	color: black;
}

#footer {
	height: 25%;
	background-color: white;
}

.jumbotron {
	height: 70%;
	margin-bottom: 0;
	background: url('assets/sunset_usa_los_angeles_building_top_view_59142_1920x1080.webp') fixed, url('assets/sunset_usa_los_angeles_building_top_view_59142_1920x1080-min.jpg') fixed;
	background-size: cover;
	color: white;
}

.jumbotron h1 {
	color: white;
	padding-left: 25%;
	padding-top: 3%;
}

.jumbotron p {
	color: white;
	padding-left: 25%;
}

#about {
	height: 50vh;
	background: url('assets/LA2.webp') fixed, url('assets/LA2-min.jpg') fixed;
	background-size: cover;
	display: table-cell;
	vertical-align: middle;
}

#about h1 {
	text-align: center;
	color: white;
	margin: 0;
	font-family: 'Homenaje', sans-serif;
}

#about-content {
	width: 70%;
	margin: auto;
}

#about p {
	text-align: center;
	color: white;
}

#second-page {
/*	height: 50vh;
	background: url('assets/programming (1).png') no-repeat;
	background-position: center;*/
}

#skills {
 	background: url('assets/programming (1).png') no-repeat;
	background-position: center;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#skills-content {
	margin: 0;
}

#second-page h1 {
	text-align: center;
	margin: 0;
	padding-top: 15;
	font-family: 'Homenaje', sans-serif;
}

#skills li {
	list-style-type: none;
	text-align: center;
	font-weight: bolder;
	font-size: larger;
	font-family: monospace;
}

#third-page {
}

#third-page h1 {
	text-align: center;
	font-family: 'Homenaje', sans-serif;
}

.row {
	margin: auto;
}

.thumbnail {

}

#contact {
	background-color: black;
	color: white;
}

#contact h1 {
	font-family: 'Homenaje', sans-serif;
	text-align: center;
}

#map iframe {
	width: 100%;
	height: 25%;
}

#contact ul {
	text-align: center;
}

#contact a {
	text-decoration: none;
	color: white;
}

#contact li {
	list-style-type: none;
	display: inline;
}

